<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frodo.passwordsecure">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Password Secure">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EstimatorActivity"
            android:label="Estimate Password Strength" />
        <activity
            android:name=".WordListActivity"
            android:label="Check Word Lists" />
        <activity
            android:name=".LearnStuffActivity"
            android:label="Read About Passwords" />

        <service android:name=".QueryPassSecurityService"
            android:label="Estimate Password Crackability"/>

        <activity android:name=".CrackActivity"></activity>
    </application>

</manifest>